# ide
/.idea/
/.vscode/

# claude
/.claude/
/CLAUDE.md

# castor
.castor.stub.php

# config
/.env
/compose.override.yaml

# misc
/TODO.md

# ---

# dnssec keys
/.docker/server/keys/*
!/.docker/server/keys/.gitkeep

# zones
/.docker/server/zones/unsigned/*
!/.docker/server/zones/unsigned/.gitkeep
/.docker/server/zones/signed/*
!/.docker/server/zones/signed/.gitkeep
